@charset "UTF-8";
/* CSS Document */

body{
	font-family:"Helvetica Neue";
	font-weight:200;
}
#navigate{
	position:fixed;
}
#nav{
	position:fixed;
	top:50px;
	border:solid black 1px;
	padding:10px;
}
h1{
	margin-left:auto;
	margin-right:auto;
	width:125px;
	text-align:center;
	border:solid red 1px;
	font-weight:400;
}
#fixtrentonlogo{
	text-align:center;
	height:100px;
	border:solid blue 1px;
}
.report{
	position:relative;
	width:100px;
	height:100px;
	border:solid black 1px;
	text-align:center;
	font-size:11px;
	margin:auto;
	margin-top:10px;
}
#onetimeentry{
	text-align:justify;
	margin:10px;
}
.info{
	float:left;
	clear:both;
}
#nextinfo{
	position:absolute;
	right:10px;
	bottom:10px;
}
sub{
	font-size:10px;
}