@charset "UTF-8";
/* CSS Document */

body{
	font-family:"Helvetica Neue";
	font-weight:300;
}
#navigate{
	position:fixed;
	width:100%;
	border:solid green 2px;
	text-align:center;
	z-index:10;
	background-color:#FFF;
}
#nav{
	position:fixed;
	top:50px;
	left:-85px;
	border:solid black 1px;
	padding:10px;
	z-index:5;
	background-color:#FFF;
}
h1{
	margin-left:auto;
	margin-right:auto;
	width:125px;
	text-align:center;
	font-weight:400;
}
#fixtrentonlogo{
	text-align:center;
	height:70px;
}
#logo{
	height:50px;
	width:131px;
}
.report{
	position:relative;
	width:100px;
	height:100px;
	text-align:center;
	font-size:11px;
	margin:auto;
	margin-top:10px;
}
#onetimeentry{
	text-align:justify;
	margin:10px 30px 10px;
}
#info{
	margin:10px;
}
#btmrit{
	position:absolute;
	right:10px;
	bottom:10px;
}
#btmlft{
	position:absolute;
	left:10px;
	bottom:10px;
}
sub{
	font-size:10px;
}
#left{
	float:left;
}
#right{
	float:right;
}
#photo{
	border: solid black 1px;
	height: 50px;
}
#temp{
	height:30px;
}
#streetlight1{
	width:90px;
	height:80px;
	border: solid black 1px;
	padding:5px 10px 5px 10px;
}
#streetlight2{
	width:40px;
	height:43px;
	margin-left:130px;
	padding-top:3px;
	opacity:0.3;
}
#abandonedHouse{
	width:90px;
	height:80px;
	border: solid black 1px;
	padding:5px 10px 5px 10px;
}
#pothole{
	width:90px;
	height:80px;
	border: solid black 1px;
	padding:20px 0px 10px 0px;
}
#othar{
	width:90px;
	height:80px;
	border: solid black 1px;
	padding:5px 10px 5px 10px;
}